
<div class="page-width">
<h1>{{section.settings.text}}</h1>
<p>{{section.settings.paragraph}}</p>
</div>

{% schema %} 
{
    "name":"Custom Testing",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Testing for the best"
        },
        {
            "type": "richtext",
            "id": "paragraph",
            "label": "Paragraph"
        }
    ],
    "presets": [
        {
            "name": "Custom Testing"
        }
    ]
}
{% endschema %}